
<navbar></navbar>

<div class="row">
  <div class="col-md-9">
    <h1 class="page-header">Overview</h1>
      <div class="row">
        <div class="col-md-6">
          <div class="">
            {{ currentUser.firstName }}
            {{ currentUser.lastName }}'s Account
          </div>
          <div>
            <div>
              <strong>Cash</strong>
            </div>
            <div>
              <h1>{{ (currentUser.balance || 0) | currency }}</h1>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div>
            Cash Flow (Past Month)
          </div>
          <div>
            <div>
              <input type="range" name="volume" min="0" max="100" value="33">
            </div>
            <div>
              <strong>{{ (currentUser.totalEarned || 0) | currency }}</strong> Earned
            </div>
          </div>
          <div>
            <div>
              <input type="range" name="volume" min="0" max="100" value="33">
            </div>
            <div>
              <strong>{{ (currentUser.totalSpent || 0) | currency }}</strong> Spent
            </div>
          </div>
          <div>
            <h2>{{ ((currentUser.totalEarned - currentUser.totalSpent) || 0) | currency }}</h2>
          </div>
        </div>
      </div>

  </div>
  <div class="col-md-3">
    <h1 class="page-header">Recent</h1>
    <ul class="list">
      <li class="item" ng-repeat="item in currentUser.transactions">
        {{ item.pos }}
        <br />
        <strong>{{ (item.debit) ? "-" : "" }}{{ (item.debit || item.credit) | currency }}</strong>
        <br />
        {{ item.time | date:'medium' }}
      </li>
    </ul>
  </div>
</div>
