<div ng-controller="MainCtrl">

  <navbar></navbar>

  <div class="row">
    <div class="col-md-2">
      <div class='list-group'>
        <a ng-repeat="item in pages" class="list-group-item" href="" ui-sref="{{item.sref}}">{{item.name}}</a>
      </div>
    </div>
    <div class="col-md-10">


      <input type="text" ng-model="notification.title" />
      <input type="text" ng-model="notification.text" />

      <button class="btn btn-default" ng-click="notify()">Notify</button>

      <div ui-view></div>
    </div>
  </div>

</div>
<div notifications="bottom right"></div>
